* {
  box-sizing: border-box;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  padding: 10px;
  text-decoration: underline;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  border: 2px solid #000;
}

.user-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.draw-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 2;
}

#sketch-area {
  height: 80%;
  width: 100%;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

#sketch-area:hover {
  cursor: crosshair;
}

.controls-area {
  display: flex;
  height: 20%;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.chat-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow: auto;
}

#chat-window {
  height: 100%;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

#send-btn {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

#clear-btn {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 0 0 2px 2px;
  width: 100%;
}
