* {
  box-sizing: border-box;
  user-select: none;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  padding: 10px;
  text-decoration: underline;
  text-align: center;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  font-size: 16px;
}

.container {
  display: flex;
  height: 100%;
  width: 96%;
  max-height: 96%;
  max-width: 1200px;
  border: 2px solid #000;
}

.user-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.draw-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 2;
}

.word-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

#sketch-area {
  height: 70%;
  width: 100%;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

#sketch-area:hover {
  cursor: crosshair;
}

.controls-area {
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.control-button {
  height: 50px;
  width: 14%;
  font-size: 14px;
  border: 0;
  margin: 1%;
}

.chat-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}

.current-word {
  letter-spacing: 0.3em;
}

#chat-window {
  height: 100%;
}

#output {
  overflow-wrap: break-word;
}

#output p {
  padding: 10px 0;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}

#send-btn {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 10px 0;
  width: 100%;
}
